{% extends './base.html' %}
{% load static %}
{% block title %}About The Flour Bandit{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'myrecipejournal/css/about.css' %}">


<div class="about-container">
    <h1>The Flour Bandit</h1>
    <div class="about-top">
        <div class="photo-section">
            <img src="{% static 'myrecipejournal/app_media/about_photo.jpg' %}" class="about-photo">
        </div>

        <div class="about-text">
            <h3>Inspiration...</h3>
            <p>It is simply about the food. I imagine love tastes like food; sweet and savoury, sugar and salt and spice. I love cakes, buns and tasty stews and trying out new recipes.</p>
            <p>The premise is to build a community of people who love to bake, cook, try new recipes and general foodies.</p>
        </div>
            
    </div>

    <div class="about-desc">
        <h3>My Flour Story...</h3>
        <p>For a long time I had been writing my recipes at the back of my sketch book. Spring and summer of 2026, while on maternity leave, I got cooking
                .. lots of baking and lost of trying new recipes. Trying to keep track of how much sugar, milk, flour was just right for my cakes and bread has been hectic since I filled my sketch book. I thought, why not make it a virtual book that I can edit, add photos and share with friends.
            And why not make new friends while doing it.       
        <h3>My hope...</h3>
        <p>Is that this is a space for your home-made recipes, your nana's recipes and recipes you want to try out. 
            You will also find a community of friends who love to cook, bake and eat. You know, because a little cake is good for the soul. </p>
    </div>

    <div class="about-top">
        <div class="photo-section">
            <img src="{% static 'myrecipejournal/app_media/founder_photo.jpg' %}" class="about-photo">
        </div>

        <div class="about-text">
           <h3>Founder</h3>
           <p>My name is Eunice Oduor. I am a home cook who likes to try new recipes and improve my baking skills. I am terribly excited to release <strong>The Flour Bandit</strong> into the world. 
            Finally, a space to share all my kitchen shennanigans and connect with you.
                
           </p>
           <em>Love, Eunice</em>
           <em>Summer 2026</em>
           </p>

        </div>
        
    </div>


</div>


{% endblock %}